{% extends 'base.html' %}

{% block content %}
<div class="container" style="text-align: center;">
<h1>Username: {{username}}</h1>
<h6>Number of posts: {{number_of_posts}}</h6>
{% if user == username or username == request.user%}
<div class="col-12">
  <a button class="btn btn-primary" type="submit" href='{% url "home" %}'>Post Something?!</button></a>
</div>
{% else %}
{% if username not in following %}
<div class="col-12">
  <a button class="btn btn-primary" type="submit" href='{% url "follow" username %}'>Follow</button></a>
</div>
{% else %}
<div class="col-12">
  <a button class="btn btn-primary" type="submit" href='{% url "unfollow" username %}'>Unfollow</button></a>
</div>
{% endif %}
{% endif %}
</div>
<section class="vh-100" style="background-color: white;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <h1 style="text-align: center;">My Posts</h1></br>
        <div class="card mb-5" style="border-radius: 15px;">
          {% for post in posts %}
          <div class="card-body p-4">
            <h3 class="mb-3">{{post.body}}</h3>
            <h6 class="mb-3">{{post.time_posted}}</h6>
            <div class="d-flex justify-content-start align-items-center">
              <div class="col-12">
                <a button class="btn btn-primary" type="submit" href='{% url "delete_post" post.post_id %}'>Delete Post</button></a>
              </div>
          </div>
            <hr class="my-4">
          </div>
          {% endfor %}
      </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              You are following
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              {% for user in following %}
              {% if user %}
              <strong a href>{{user}}</strong></br>
              {% else %}
              <strong>You have no followers yet!!!</strong></br>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Your followers
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% for user in followers %}
              {% if user %}
              <strong>{{user}}</strong></br>
              {% elif user is none %}
              <strong>You have no followers yet!!!</strong></br>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{% endblock content %}
